{% if site.social-links.github_username %}
<li>
 <a href="https://github.com/{{ site.social-links.github_username }}" target="_blank"><span class="social-media-icons fa fa-github 2x"></span><span class="username">{{ site.social-links.github_username }}</span></a>
</li>
{% endif %}

{% if site.social-links.twitter_username %}
<li>
 <a href="https://twitter.com/{{ site.social-links.twitter_username }}" target="_blank"><span class="social-media-icons fa fa-twitter"></span><span class="username">{{ site.social-links.twitter_username }}</span></a>
</li>
{% endif %}

{% if site.social-links.bitbucket_username %}
<li>
 <a href="https://bitbucket.org/{{ site.social-links.bitbucket_username }}" target="_blank"><span class="social-media-icons fa fa-bitbucket"></span><span class="username">{{ site.social-links.bitbucket_username }}</span></a>
</li>
{% endif %}

{% if site.social-links.instagram_username %}
<li>
 <a href="https://instagram.com/{{ site.social-links.instagram_username }}" target="_blank"><span class="social-media-icons fa fa-instagram"></span><span class="username">{{ site.social-links.instagram_username }}</span></a>
</li>
{% endif %}